body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
  background-color: black;
}

.itemInput {
  width: 55%;
  padding: 12px 20px;
  margin: 7px 0;
  display: block;
  border: none;
  border-radius: 7px;
  box-sizing: border-box;
  font-size: large;
}

.itemList {
  margin-left: 10px;
}

.submit {
  padding: 15px 25px;
  align-items: center;
  font-size: 15pt;
  font-weight: 700;
}

.add {
  padding: 15px 25px;
  align-items: center;
  font-size: 15pt;
  font-weight: 700;
}

.matchup {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.result {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 20pt;
  background-color: rgba(0, 0, 0, 0.95); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.resultItem {
  margin-left: 15px;
}

.itemButton {
  padding: 50px 150px;
  left: 10px;
  top: 20%;
  position: relative;
  font-size: xx-large;
}

.numberAddItemBox {
  width: 40px;
  height: 50px;
  align-content: center;
  font-size: 15pt;
  font-weight: 700;
}

.hidden {
  display: none;
}
